APP_NAME="NetZero Atlas"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=laravel-dev-postgres
DB_PORT=5432
DB_DATABASE=atlas_netzero
DB_USERNAME=dev_admin
DB_PASSWORD=
ATLAS_DB_USERNAME=dev_admin
ATLAS_DB_PASSWORD=

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=atlas_raw
QUEUE_CONNECTION=redis

CACHE_STORE=redis
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=laravel-dev-redis
REDIS_PASSWORD=
REDIS_PORT=6379
ATLAS_REDIS_PASSWORD=

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
ATLAS_MINIO_ROOT_USER=atlas-local
ATLAS_MINIO_ROOT_PASSWORD=
AWS_DEFAULT_REGION=us-east-1
AWS_ENDPOINT=http://minio:9000
AWS_USE_PATH_STYLE_ENDPOINT=true
ATLAS_RAW_BUCKET=atlas-raw
ATLAS_PROCESSING_BUCKET=atlas-processing
ATLAS_CANDIDATES_BUCKET=atlas-candidates
ATLAS_CATALOG_BUCKET=atlas-catalogs
ATLAS_RAW_DISK=atlas_raw
ATLAS_PROCESSING_DISK=atlas_processing
ATLAS_CATALOG_DISK=atlas_catalogs

ATLAS_GEOGRAPHY_CATALOG_DESCRIPTOR_PATH=atlas-catalog-snapshots/geography/sha256/63e4c102f3622f48c746a7a1144a3e07d6d64ee519940acb66c38289bdc36ac8.json.manifest.json
ATLAS_GEOGRAPHY_CATALOG_DESCRIPTOR_SHA256=61f46ebde57abba344009d24047b0baaeb6e7cd185ffaf0444d39b762f07eb7f
ATLAS_UNIT_CATALOG_DESCRIPTOR_PATH=atlas-catalog-snapshots/unit/sha256/dfd210dfe04c0bc2dcf613e140637c249e1be76fc5d58a98efffeab73f99ddf3.json.manifest.json
ATLAS_UNIT_CATALOG_DESCRIPTOR_SHA256=9037b58b2612b720100b473d4cf8b0e6bf909c3fd42ae9958f312cf6e90a210e
ATLAS_CANDIDATE_DIFF_RULESET_PATH=resources/rules/candidate/source-diff-v1.json
ATLAS_CANDIDATE_DIFF_RULESET_SHA256=ec6976b14a1a761f5bc0b143db216ec13605e522b6bdab3d7f99646a9546b740

ATLAS_HTTP_CONNECT_TIMEOUT_SECONDS=10
ATLAS_HTTP_TIMEOUT_SECONDS=30
ATLAS_ADEME_DATASET_URL=https://data.ademe.fr/data-fair/api/v1/datasets/base-carboner

VITE_APP_NAME="${APP_NAME}"
